 .u-section-1 {
  background-image: linear-gradient(black, #404040);
}

.u-section-1 .u-sheet-1 {
  min-height: 770px;
}

.u-section-1 .u-image-1 {
  height: 682px;
  margin-top: 74px;
  margin-bottom: 0;
  
}
.inline{
  margin-top: 100px;
  float: right;
    width: 50em; 
}
.container {
  margin-left: 400px;
  margin-top: 100px;
  margin-bottom: 100px;
 display: inline-block;
  max-width: 400px;
 
  padding: 20px;
  
 color: #fff;
  border-radius: 5px;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  color: #000;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #999;
}
.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: -602px auto 0;
}

.u-section-1 .u-line-1 {
  width: 427px;
  transform-origin: left center 0px;
  margin: 14px auto 0 356px;
}

.u-section-1 .u-form-1 {
  height: 367px;
  width: 570px;
  margin: 34px auto 0;
}

.u-section-1 .u-input-1 {
  text-transform: uppercase;
}

.u-section-1 .u-input-2 {
  text-transform: uppercase;
}

.u-section-1 .u-input-3 {
  text-transform: uppercase;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
}

.u-section-1 .u-icon-1 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(black, #111111);
  margin: -404px auto 0 -32px;
  padding: 15px;
}

.u-section-1 .u-icon-2 {
  height: 65px;
  width: 65px;
  background-image: linear-gradient(black, #111111);
  margin: 119px auto 0 -32px;
  padding: 15px;
}

.u-section-1 .u-text-2 {
  margin: -230px auto 0 47px;
}

.u-section-1 .u-text-3 {
  margin: 156px auto 0 47px;
}

.u-section-1 .u-text-4 {
  margin: -151px auto 0 -32px;
}

.u-section-1 .u-text-5 {
  margin: 156px auto 60px -32px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    margin-left: 293px;
  }
  body {
    overflow-x: hidden;
   max-width: 100%;
  }

  .inline{
    margin-top: 200px;
    float: none;
    width: 100%;
    position: absolute;
  }

  .container {
    margin: 100px auto;
    max-width: 400px;
   
    padding: 20px;
    
   color: #fff;
    border-radius: 5px;
  }
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
   max-width: 100%;
  }

  .inline{
    margin-top: 200px;
    float: none;
      width: 100%;
      position: absolute;
  }

  .container {
    margin: 100px auto;
    max-width: 400px;
   
    padding: 20px;
    
   color: #fff;
    border-radius: 5px;
  }
  .u-section-1 .u-line-1 {
    margin-left: 113px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  body {
    overflow-x: hidden;
   max-width: 100%;
  }

  .inline{
    margin-top: 200px;
    float: none;
    width: 100%;
    position: absolute;
  }

  .container {
    margin: 100px auto;
    max-width: 400px;
   
    padding: 20px;
    
   color: #fff;
    border-radius: 5px;
  }
  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}